# Ignore PyCharm IDE settings
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore local environment variables
#.env  # enabled for demo

# Ignore logs and database files
*.log
*.sqlite3
media1.db
#*.db
